
<ul style="list-style: none;" *ngFor="let weather of weathers">

<table width="100%" >
    <td align="center" >
        <li>
            <div>
                {{ weather.dt_txt }}
            </div>
        </li>
    </td>
    <td>
        <table width="50%">
            <tr>
                <td>
                    <li><div>{{ weather.main.temp }}</div></li>
                </td>
                <td>
                    <li><div>{{ weather.description }}</div></li>
                    <li><div>{{ weather.main.pressure }}</div></li>
                d>
                
                <td>
                    <button name="detail" type="button" (click)="getData(weather)" >More</button>
                </td>
            </tr>
          
        </table>
    </td>

</table>
</ul>




<!-- 
<li>
    <div>
        {{ weather.sys.pod }}
    </div>
</li> -->